
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuestionario</h1>

<div class="media" style="margin-top: 60px;">
    <div class="media-body">
        <div class="row">
            <div class="col-sm-10">
                <h3 class="media-heading"><strong>Nombre:</strong>  {{ cuestionario.name}} </h3>
            </div>

            <div class="col-sm-10">
                <h5 class="media-heading"><strong>Descripción: </strong> {{ cuestionario.description}}</h5>
            </div>

            <div class="col-sm-10">
                <h5 class="media-heading"><strong>Tipo: </strong>{{ cuestionario.type}}</h5>
            </div>

            <div class="col-sm-10">
                <h5 class="media-heading"><strong>Tiempo:</strong> {{ cuestionario.time}}</h5>
            </div>

            <div class="col-sm-10">
                    {% set myVal = 0 %}
                    {% for cuestionario in cuestionario.pregunta %}
                        {% set myVal = myVal +1 %}
                    {% endfor %}
                <h5 class="media-heading"><strong>Preguntas: </strong>{{ myVal }}</h5>
            </div>

            <div class="row">
            <div class="col-sm-10 text-right">

                <a class="btn btn-default" href="{{ path('cuestionario.list') }}">
                    <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
                    Volver al menú
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}