
{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h1 class=" border-gray pb-2 mb-0 text-center">Pregunta</h1>

    </div>





                <div class="jumbotron bg-white">
                <h3 class="media-heading font-weight-normal"><strong>Titulo:</strong>  {{ question.title}} </h3>
            <div class="my-4">


            {% set Val = 0 %}
            {% for answer in answer %}



                    <h5 class="media-heading"><strong>

                            {% set Val = Val +1 %}
                            <hr class="my-4">
                            {% if answer.correct == "1" %}
                            <div class="card border-success">
                                Respuesta {{ Val }}:  {{ answer.answertitle}} ✔
                             </div>
                            {% else %}

                            Respuesta {{ Val }}: </strong> {{ answer.answertitle}}
                            {% endif %}
                    </h5>


            {% endfor %}
                <hr class="my-4">

                <h5 class="media-heading"><strong>Tiempo: </strong> {{ question.duration}}</h5>

            </div>
                <a class="btn btn-success" href="{{ path('question.edit', {id: question.id}) }}"> Editar </a>
                <a class="btn btn-danger" href="{{ path('question.delete', {id: question.id}) }}"> Borrar pregunta</a>
            </div>




        </div>
    </div>
</div>

    {% include 'footer.html.twig' %}
{% endblock %}