{% extends 'base.html.twig' %}

{% block body %}


    {% for message in app.flashes('notice3') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    <div class="row justify-content-center">


        <div class="col-md-10 ">



            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h1 class="border-bottom border-gray pb-2 mb-0 text-center">Perfil de usuario</h1>


                <h4 class="text-center"><strong>Nombre de usuario: </strong>  {{ app.user.username }} </h4>


                <h4 class="text-center"><strong>Correo electrónico: </strong>  {{ app.user.email }} </h4>

            </div>




            <div class="row justify-content-center">

                <div class="col-md-3">

                    <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <h3 class="border-bottom border-gray pb-2 mb-0 text-center">Opciones</h3>

                        <div class="media text-muted pt-3">
                            <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark text-center">
                                    <a class="text-center" href="{{ path('fos_user_change_password') }}" class="btn btn-primary">Cambiar contraseña</a>
                                </strong>
                            </p>
                        </div>

                        <div class="media text-muted pt-3">
                            <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark text-center">
                                    <a class="text-center" href="{{ path('fos_user_profile_show') }}" class="btn btn-primary">Ver cuestionarios</a>
                                </strong>
                            </p>
                        </div>

                        <div class="media text-muted pt-3">
                            <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark text-center">
                                    <a class="text-center" href="{{ path('fos_user_security_logout') }}">   <button class="btn btn-outline-danger"> Desconexión</button></a>
                                </strong>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-8">
                    <div class="table-responsive">

                        <div class="my-3 p-3 bg-white rounded shadow-sm">
                            <h3 class=" border-gray pb-2 mb-0 text-center">Últimas  partidas</h3>
                        </div>
                        <table class="table text-center">
                            <thead class="thead-light">
                            <tr>
                                <th class="active text-center">Id</th>
                                <th class="active text-center">Cuestionario</th>
                                <th class="active text-center">Estadísticas</th>
                            </tr>
                            </thead>

                            {% for game in sessions %}


                                {% if game.user.id == app.user.id %}
                                    <tr bgcolor="white">
                                    <td>

                                            {{ game.gamesession.questionary.id }}

                                    </td>

                                        <td>

                                            {{ game.gamesession.questionary.name}}

                                        </td>

                                        <td>
                                            <a href="{{ path('gamesession.stats', {id: game.gamesession.id }) }}">
                                                Ver estadísticas
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}

                            {% endfor %}
                        </table>






                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}

