{% extends 'base.html.twig' %}

{% block body %}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-11">


            <div class="jumbotron">

                <h2 class="text-center"><strong>Nombre de usuario: </strong>  {{ user.username }} </h2>


                <h4 class="text-center"><strong>Correo electrónico: </strong>  {{ user.email }} </h4>

            </div>


        </div>
        <div class="row justify-content-center">

            <div class="col-3">


                <h3>Opciones:</h3>

                    <div class="row mx-md-n5">
                        <div class="col px-md-5"><div class="p-3 border bg-light">
                                <a class="text-center" href="{{ path('fos_user_change_password') }}" class="btn btn-primary">Cambiar contraseña</a>
                            </div></div>
                        <div class="col px-md-5"><div class="p-3 border bg-warning">
                                <a class="text-center" href="{{ path('fos_user_security_logout') }}" class="btn btn-default navbar-btn">   Desconexión</a>
                            </div></div>
                    </div>


            </div>

            <div class="col-9">
                <h4 class="text-center"><strong> Cuestionarios abiertos: </strong></h4>

                <table class="table text-center">
                    <thead class="thead-light">
                    <tr>
                        <th class="active text-center">Nombre</th>
                        <th class="active text-center">Descripción</th>
                        <th class="active text-center">Preguntas</th>
                        <th class="active text-center">Estado</th>
                    </tr>
                    </thead>

                    {% for questionary in user.questionary %}
                        {% if questionary.state == 1 %}
                            <tr>
                            <td>
                                <a href="{{ path('questionary.show', {id: questionary.id}) }}">
                                    {{ questionary.name}}
                                </a>
                            </td>
                            <td> {{ questionary.description}} </td>
                            {% set myVal = 0 %}
                            {% for question in questionary.question %}
                                {% if question.activated == 1 %}
                                    {% set myVal = myVal +1 %}
                                {% endif %}
                            {% endfor %}
                            <td>{{ myVal }}</td>

                            {% if questionary.state == '1' %}
                                <td><b><font color=#008000>Abierto</font></b></td>
                            {% else %}
                                <td><b><font color=#FF0000>Cerrado</font></b></td></td>
                            {% endif %}
                        {%  endif %}
                        </tr>

                    {% endfor %}
                </table>

                <h4 class="text-center"><strong> Cuestionarios cerrados: </strong></h4>


                <table class="table text-center">
                    <thead class="thead-light">
                    <tr>
                        <th class="active text-center">Nombre</th>
                        <th class="active text-center">Descripción</th>
                        <th class="active text-center">Preguntas</th>
                        <th class="active text-center">Estado</th>
                    </tr>
                    </thead>
                    {% for questionary in user.questionary %}
                        {% if questionary.state == 0 %}
                            <tr>
                            <td>
                                <a href="{{ path('questionary.show', {id: questionary.id}) }}">
                                    {{ questionary.name}}
                                </a>
                            </td>
                            <td> {{ questionary.description}} </td>
                            {% set myVal = 0 %}
                            {% for question in questionary.question %}
                                {% set myVal = myVal +1 %}
                            {% endfor %}
                            <td>{{ myVal }}</td>

                            {% if questionary.state == '1' %}
                                <td><b><font color=#008000>Abierto</font></b></td>
                            {% else %}
                                <td><b><font color=#FF0000>Cerrado</font></b></td></td>
                            {% endif %}
                        {%  endif %}
                        </tr>

                    {% endfor %}
                </table>
            </div>


        </div>
        </div>
    </div>


    {% include 'footer.html.twig' %}
    {% endblock %}







