{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pregunta</h1>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h4 class="media-heading"><strong> Título: </strong>  {{ question.title }}</li>  </h4>


    {% if game.activatedQuestion == question %}


    <ol>
    {% for answer in question.answer %}
    <h4 class="media-heading"><strong> </strong><li> {{ answer.answertitle }}</li>  </h4>
    {% endfor %}
    </ol>

    {{ form_start(form) }}
    {{ form_widget(form) }}



    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>

            <a class="btn btn-default" href="{{ path('gamesession.gamestart', {id: game.id}) }}">
                <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
                Volver al menú
            </a>
        </div>
    </div>
    {{ form_end(form) }}

    {% else %}

        <h4 class="media-heading"><strong> </strong><li> Esta pregunta no esta activada.</li>  </h4>

    {% endif %}
{% endblock %}
