{% extends 'base.html.twig' %}

{% block body %}

    <h1>Pregunta</h1>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('notice1') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    <script type="text/javascript">
        var contar = {{ question.duration }} //valor inicial.
        window.onload = function() {
            document.getElementById("imagen").style.display = "none"; //ocultar imagen
            cuenta = document.getElementById("cuenta"); //elemento donde escribimos la cuenta atrás
        }
        function despegar() {
            function cuentaAtras() {
                document.getElementById("imagen").style.display = "block"
                contar -=1; //variar el número de la cuenta
                cuenta.innerHTML = contar; //escribir el número
                if (contar <= 0) { //cuando llegamos a 0...
                    clearInterval(ignicion) //parar la cuenta atrás.
                    //visualizar la imagen.

                }
            }
            cuentaAtras() //llamada a la función de cuenta atrás
            //repetir la función cuenta atrás cada segundo
            ignicion = setInterval(cuentaAtras,1000);

        }
        window.onload = function() { despegar(); };
    </script>

    <h1 align="center" id="cuenta"></h1>

    <div id="imagen" align="center">
    <div class="card text-white bg-light mb-5">     <h2 class="media-heading"><strong>  </strong>  <p class="text-primary"> Título</p> </h2> <p class="text-primary text-center text">{{ question.title }}</li></p>   </div>



        {#{% if game.activatedQuestion == question %}#}

        <div class="form-check">

        {{ form_start(form) }}

        <div class="card text-white bg-info mb-1">     <h4 class="media-heading"><strong>  </strong>    <p class="text-primary text-center"> {{ form_widget(form.answer1) }} </h4> <p class="text-primary text-center text">{{ question.answer[0].answertitle }}</li></p>   </div>

        <div class="card text-white bg-warning mb-1">     <h4 class="media-heading"><strong>  </strong>    <p class="text-primary text-center"> {{ form_widget(form.answer2) }} </h4> <p class="text-primary text-center text">{{ question.answer[1].answertitle }}</li></p>   </div>

        <div class="card text-white bg-success mb-1">     <h4 class="media-heading"><strong>  </strong>    <p class="text-primary text-center"> {{ form_widget(form.answer3) }} </h4> <p class="text-primary text-center text">{{ question.answer[2].answertitle }}</li></p>   </div>

        <div class="card text-white bg-danger mb-1">     <h4 class="media-heading"><strong>  </strong>    <p class="text-primary text-center"> {{ form_widget(form.answer4) }} </h4> <p class="text-primary text-center text">{{ question.answer[3].answertitle }}</li></p>   </div>




        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Enviar respuesta</button>

                {{ form_end(form) }}

            </div>


            <a class="btn btn-secondary" href="{{ path('gamesession.gamestart', {id: game.id}) }}">
                    <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
                    Volver al menú
                </a>
            </div>
        </div>


    {#{% else %}

        <h4 class="media-heading"><strong> </strong><li> Esta pregunta no esta activada.</li>  </h4>

    {% endif %}#}

    {% include 'footer.html.twig' %}
{% endblock %}