{% extends 'base.html.twig' %}

{% block body %}



    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('notice1') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    <script type="text/javascript">
        var contar = {{ question.duration }} //valor inicial.
        window.onload = function() {
            document.getElementById("imagen").style.display = "none"; //ocultar imagen
            cuenta = document.getElementById("cuenta"); //elemento donde escribimos la cuenta atrás
        }
        function despegar() {
            function cuentaAtras() {
                document.getElementById("imagen").style.display = "block"
                contar -=1; //variar el número de la cuenta
                cuenta.innerHTML = contar; //escribir el número
                if (contar <= 0) { //cuando llegamos a 0...
                    clearInterval(ignicion) //parar la cuenta atrás.
                    //visualizar la imagen.

                }
            }
            cuentaAtras() //llamada a la función de cuenta atrás
            //repetir la función cuenta atrás cada segundo
            ignicion = setInterval(cuentaAtras,1000);

        }
        window.onload = function() { despegar(); };
    </script>

    <div class="container">
        <div class="my-3 p-3 bg-light rounded shadow-sm">
            <h3 class=" border-gray pb-2 mb-0 text-center">ID Pregunta: {{ question.id }}</h3>

        </div>
    <h1 align="center" id="cuenta"></h1>

    <div id="imagen" align="center">
        <div class="card text-white bg-white mb-5">     <h2 class="media-heading"><strong>  </strong>  <p class="text-primary"> Título</p> </h2> <p class="text-dark text-center text"><strong>{{ question.title }}</strong></li></p>   </div>



        {#{% if game.activatedQuestion == question %}#}

        <div class="form-check">

        {{ form_start(form) }}

            <div class="card text-white bg-info mb-1">     <h4 class="media-heading"><strong>  </strong>    <p class="text-primary text-center"> {{ form_widget(form.answer1) }} </h4> <p class="text-dark text-center "><strong>{{ question.answer[0].answertitle }}</strong</li></p>   </div>

            <div class="card text-white bg-warning mb-1">     <h4 class="media-heading"><strong>  </strong>    <p class="text-primary text-center"> {{ form_widget(form.answer2) }} </h4> <p class="text-dark text-center text"><strong>{{ question.answer[1].answertitle }}</strong></li></p>   </div>

            <div class="card text-white bg-success mb-1">     <h4 class="media-heading"><strong>  </strong>    <p class="text-primary text-center"> {{ form_widget(form.answer3) }} </h4> <p class="text-dark text-center text"><strong>{{ question.answer[2].answertitle }}</strong></li></p>   </div>

            <div class="card text-white bg-danger mb-1">     <h4 class="media-heading"><strong>  </strong>    <p class="text-primary text-center"> {{ form_widget(form.answer4) }} </h4> <p class="text-dark text-center text"><strong>{{ question.answer[3].answertitle }}</strong></li></p>   </div>




        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Enviar respuesta</button>

                {{ form_end(form) }}

            </div>


            <a class="btn btn-secondary" href="{{ path('gamesession.gamestart', {id: game.id}) }}">
                    <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
                    Volver al menú
                </a>
            </div>
        </div>

    </div>
    {#{% else %}

        <h4 class="media-heading"><strong> </strong><li> Esta pregunta no esta activada.</li>  </h4>

    {% endif %}#}

    {% include 'footer.html.twig' %}
{% endblock %}