{% extends 'base.html.twig' %}


{% block body %}

    <div class="container table-responsive">

        <div class="my-3 p-3 bg-white rounded shadow-sm table-responsive">
            <h1 class=" border-gray pb-2 mb-0 text-center">Introduzca contraseña de juego
            </h1>

        <div class="my-4">

    {% for message in app.flashes('notice3') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('notice4') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">Entrar a partida</button>
    <a class="btn btn-secondary" href="{{ path('questionary.list') }}">
        <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
        Volver al menú
    </a>

    {{ form_end(form) }}

    </div>
    {% include 'footer.html.twig' %}
{% endblock %}