{% extends 'base.html.twig' %}


{% block body %}

    <h1>Introduzca clave del juego: </h1>


    {% for message in app.flashes('notice3') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('notice4') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Create</button>

    {{ form_end(form) }}

    <div>
        <a class="btn btn-default" href="{{ path('questionary.list') }}">
            <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
            Volver al menú
        </a>
    </div>

{% endblock %}