{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('notice7') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    {% for message in app.flashes('notice8') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('notice3') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    {% for message in app.flashes('notice4') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('notice5') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}



    <div class="container">
        <div class="row">
            <div class="col-3">

                {% if app.user == game.userCreator and game.started == 1 and game.closed == 0 %}
                <div class="col px-md-5"><div class="p-3 border bg-light">
                    <a  href="{{ path('gamesession.gameclose', {id: game.id}) }}"> Cerrar juego </a>
                    </div></div>
                {% endif %}

                {% if app.user == game.userCreator and game.started == 0 %}
                <div class="col px-md-5"><div class="p-3 border bg-light">
                    <a  href="{{ path('gamesession.gamestart', {id: game.id}) }}"> Comenzar juego manual</a>
                    </div></div>

                <div class="col px-md-5"><div class="p-3 border bg-light">
                        <a  href="{{ path('gamesession.gamestartauto', {id: game.id}) }}"> Comenzar juego automatico </a>
                    </div></div>
                {% endif %}
                {% if app.user != game.userCreator  %}
                <div class="col px-md-5"><div class="p-3 border bg-light">
                    <a  href="{{ path('gamesession.gameexit', {id: game.id}) }}"> Abandonar juego </a>
                    </div></div>
                {% endif %}
                <div class="col px-md-5"><div class="p-3 border bg-light">
                    <a  href="{{ path('gamesession.stats', {id: game.id}) }}"> Estadisticas </a>
                </div></div>

            </div>


            <div class="col-9">

                {% block fos_user_content %}



                    {% set Val = 0 %}
                    {% for User in users %}

                        {% set Val = Val +1 %}

                    {% endfor %}

                    <div class="jumbotron">
                        <h2 class="media-heading"> ¡Puede jugar el cuestionario <strong> "{{ game.questionary.name }}"</strong>, sesion de juego: <strong> {{ game.id }} !</strong> </h2>
                        <hr class="my-4">

                        <ul>
                        <li><h2 class="media-heading">Contraseña para acceder: <strong> {{ game.password }}</strong> </h2></li>
                        <li><h2 class="media-heading">Numero de jugadores: <strong> {{ Val -1 }}</strong> </h2></li>
                        </ul>
                        <hr class="my-4">
                    <h3 class="media-heading"><strong> <font color=#008000>Usuario administrador</font> </strong> {{ game.userCreator }}  </h3>

                {% set val = 0 %}
                {% set Puntuation = 0 %}

                    {% for User in users %}

                            {% set Val = Val +1 %}

                        {# eliminate user creator#}
                            {% if User != game.userCreator %}


                            <ul>
                                <div class="col-sm-10">
                                    <h4 class="media-heading"><strong>  <li> {{ User.username}} </li> </strong> </h4>
                                </div>
                            </ul>
                            {% endif %}
                    {% endfor %}
                    </div>
            </div>
        </div>




                    <div class="col-xs-12">


                {%  if game.started == 1 %}

                    <a href="{{ path('gamesession.answergameauto', {idsession: game.id, idquestion: app.user.activeQuestion.id}) }}">EL JUEGO HA COMENZADO</a>
                    <h4 class="media-heading"><strong>   Preguntas: </strong> </h4>
                    </div>

                    {# for user creator#}
                    {% for question in game.questionary.question %}

                        {% if app.user == game.userCreator %}


                            <ul>
                                    <div class="col-sm-10">

                                        {% if question.activated == 1 %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">{{ question.id}} - {{ question.title }} - <a href="{{ path('gamesession.activateQuestion', {idsession: game.id, idquestion: question.id}) }}">
                                            <button class="btn-primary"> Activar pregunta</button> </a>


                                                {% set Val = 0 %}
                                                {% for answer in answered %}

                                                    {% if answer.question.id == question.id and answer.gamesession == game %}
                                                        {% set Val = Val +1 %}

                                                    {% endif %}

                                                {% endfor %}


                                            {% if app.user == game.userCreator %}
                                            -Veces respondida: {{ Val }}</li>
                                        {% endif %}

                                        {% if question == game.activatedQuestion %}

                                            <div class="p-3 mb-2 bg-success text-white"> ACTIVADA </div>

                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </ul>


                        {% endif %}

                    {% endfor %}

                    {# for user#}
                    {% for question in game.questionary.question %}

                        {% if app.user != game.userCreator %}
                        {% if game.activatedQuestion == question %}

                        <ul>


                                <a href="{{ path('gamesession.answergame', {idsession: game.id, idquestion: question.id}) }}">
                                    {{ question.id}} - {{ question.title }}


                                        {% set Val = 0 %}
                                     {% for answer in answered %}

                                        {% if answer.question.id == question.id %}
                                         {% set Val = Val +1 %}
                                         {% endif %}

                                      {% endfor %}



                                    </a>

                                    {% if app.user == game.userCreator %}
                                        -Veces respondida: {{ Val }}</li>
                                    {% endif %}

                                    {% for users in answered %}

                                    {% if app.user.id == users.user.id and question.id == users.question.id and users.gamesession == game %}

                                        - RESPONDIDA </li>

                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </ul>

                     {% endif %}
                     {% endif %}

                    {% endfor %}

                    {% endif %}

                    <button class="btn btn-info" value="Refresh Page" onClick="window.location.reload();"> Refrescar </button>


                    {% if app.user == game.userCreator and game.closed == 1 %}

                        <a class="btn btn-default" href="{{ path('questionary.show', {id: questionary.id}) }}">
                            <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
                            Volver al cuestionario
                        </a>
                    {% endif %}




                {% endblock %}
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}