{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('notice4') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('notice5') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}



    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% block fos_user_content %}



                    {% set Val = 0 %}
                    {% for User in users %}

                        {% set Val = Val +1 %}

                    {% endfor %}

                    <div class="col-sm-10">
                        <h2 class="media-heading"><strong>  ¡Puede jugar el cuestionario "{{ game.questionary.name }}", sesion de juego: {{ game.id }} !</strong> </h2>
                        <ul>
                        <li><h2 class="media-heading"><strong> Contraseña para acceder: {{ game.password }}</strong> </h2></li>
                        <li><h2 class="media-heading"><strong> Numero de jugadores: {{ Val }}</strong> </h2></li>
                        </ul>

                    <h3 class="media-heading"><strong> <font color=#008000>Usuario administrador</font> </strong> {{ game.userCreator }}  </h3>
                    </div>

                {% set val = 0 %}
                {% set Puntuation = 0 %}

                    {% for User in users %}

                            {% set Val = Val +1 %}

                        {# eliminate user creator#}
                            {% if User != game.userCreator %}


                            <ul>
                                <div class="col-sm-10">
                                    <h4 class="media-heading"><strong>  <li> {{ User.username}} </li> </strong> </h4>
                                </div>
                            </ul>
                            {% endif %}
                    {% endfor %}





                    <div class="col-xs-12">
                <button value="Refresh Page" onClick="window.location.reload();"> Refrescar </button>


                {%  if game.started == 1 %}

                    <h4 class="media-heading"><strong>  <li> Preguntas: </li> </strong> </h4>
                    </div>

                    {# for user creator#}
                    {% for question in game.questionary.question %}

                        {% if app.user == game.userCreator %}


                                <ul>
                                    <div class="col-sm-10">
                                        <li>{{ question.id}} - {{ question.title }} - <a href="{{ path('gamesession.activatequestion', {idsession: game.id, idquestion: question.id}) }}">
                                                Activar pregunta


                                                {% set Val = 0 %}
                                                {% for answer in answered %}

                                                    {% if answer.question.id == question.id %}
                                                        {% set Val = Val +1 %}

                                                    {% endif %}

                                                {% endfor %}



                                            </a>

                                            {% if app.user == game.userCreator %}
                                            -Veces respondida: {{ Val }}</li>
                                        {% endif %}

                                        {% if question == game.activatedQuestion %}

                                            - ACTIVADA

                                            {% endif %}

                                    </div>
                                </ul>


                        {% endif %}

                    {% endfor %}

                    {# for user#}
                    {% for question in game.questionary.question %}

                        {% if app.user != game.userCreator %}
                        {% if game.activatedQuestion == question %}

                        <ul>
                            <div class="col-sm-10">
                                <li><a href="{{ path('gamesession.answergame', {idsession: game.id, idquestion: question.id}) }}">
                                    {{ question.id}} - {{ question.title }}


                                        {% set Val = 0 %}
                                     {% for answer in answered %}

                                        {% if answer.question.id == question.id %}
                                         {% set Val = Val +1 %}
                                         {% endif %}

                                      {% endfor %}



                                    </a>

                                    {% if app.user == game.userCreator %}
                                        -Veces respondida: {{ Val }}</li>
                                    {% endif %}

                                    {% for users in answered %}

                                    {% if app.user.id == users.user.id and question.id == users.question.id %}

                                        - RESPONDIDA </li>


                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </ul>

                     {% endif %}
                     {% endif %}

                    {% endfor %}

                    {% endif %}

                    {% if app.user == game.userCreator %}
                        <a class="btn btn-primary" href="{{ path('gamesession.gamestart', {id: game.id}) }}"> Comenzar juego </a>
                        <a class="btn btn-danger" href="{{ path('gamesession.gameclose', {id: game.id}) }}"> Cerrar juego </a>
                    {% else %}

                    <a class="btn btn-warning" href="{{ path('gamesession.gameexit', {id: game.id}) }}"> Abandonar juego </a>

                    {% endif %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}