<!DOCTYPE html>
<html>
<head>
    <title>{% block answertitle %}UCOQUIZZ{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('questionary.list') }}">UCOQUIZZ</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>

                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            Registrado como: <a class="link" href="{{ path('fos_user_profile_show') }}">{{ app.User.username }}</a>
                            <a class="btn btn-default navbar-btn" href="{{ path('fos_user_security_logout') }}">Logout</a>
                        {% endif %}

                        {#<a href="{{ path('fos_user_profile_show') }}" class="btn btn-default navbar-btn"> Perfil / Login</a>#}

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<a href="{{ path('questionary.list') }}" class="btn btn-primary">Menú principal</a>
<a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary">Perfil</a>
<a href="{{ path('questionary.create') }}" class="btn btn-primary">Crear Cuestionario</a>
<a href="{{ path('gamesession.enterkey') }}" class="btn btn-success">Unirse a partida</a>

<p></p><p></p>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
