<!DOCTYPE html>
<html>
<head>
    <title>{% block answertitle %}UCOQUIZZ{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/aa05c1fc8f.js"></script>
</head>
<body>






<nav class="navbar navbar-default " style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('questionary.list') }}">UCOQUIZZ</a>
        </div>


        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link"  href="{{ path('questionary.list') }}"><button type="button" class="btn btn-light"><i class="fas fa-home"></i>  Menú principal</button> </a>
            </li>

            <li role="nav-item">
                <a class="nav-link" href="{{ path('fos_user_profile_show') }}"><button type="button" class="btn btn-light"><i class="fas fa-male"></i>  Perfil de usuario</button></a>
            </li>

            <li role="nav-item">
                <a class="nav-link" href="{{ path('questionary.create') }}"><button type="button" class="btn btn-light"><i class="fas fa-plus"></i>  Crear cuestionario</button></a>
            </li>

            <li role="nav-item">
                <a class="nav-link" href="{{ path('gamesession.enterkey') }}"><button type="button" class="btn btn-light"><i class="fas fa-play"></i>  Entrar a partida</button></a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        Registrado como: <a class="link" href="{{ path('fos_user_profile_show') }}">{{ app.User.username }}</a>
                        <a class="btn btn-danger navbar-btn" href="{{ path('fos_user_security_logout') }}">Desconexión</a>
                    {% else %}
                        <a class="btn btn-light navbar-btn" href="{{ path('fos_user_security_login') }}">Identificarse</a>
                        <a class="btn btn-primary navbar-btn" href="{{ path('fos_user_registration_register') }}">Registrarse </a>
                    {% endif %}

                    {#<a href="{{ path('fos_user_profile_show') }}" class="btn btn-default navbar-btn"> Perfil / Login</a>#}


                </div>
            </li>
        </ul>
    </div>
    </div>

</nav>



<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>