<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block answertitle %}UCOQUIZZ{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ asset('css/freelancer.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/freelancer.css') }}">


    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ asset('jquery/jquery.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ asset('js/contact_me.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ asset('js/freelancer.min.js') }}"></script>

</head>
<body class="bg-light">

<div class="bg-light">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('questionary.list') }}">UCOQUIZZ</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav m-md-auto">
                <li class="nav-item mx-0 mx-lg-1 center">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " href="{{ path('questionary.list') }}">Menú principal</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('fos_user_profile_show') }}">Perfil</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('questionary.create') }}">Crear cuestionario</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('gamesession.enterkey') }}">Introducir PIN</a>
                </li>
            </ul>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="text-primary">Registrado como: </a><a class="link text-light" href="{{ path('fos_user_profile_show') }}"> {{ app.User.username }}</a></a>
                <a class="btn btn-outline-danger navbar-btn" href="{{ path('fos_user_security_logout') }}">Desconexión</a>
            {% else %}
                <a class="btn btn-light navbar-btn" href="{{ path('fos_user_security_login') }}">Identificarse</a>
                <a class="btn btn-primary navbar-btn" href="{{ path('fos_user_registration_register') }}">Registrarse </a>
            {% endif %}
        </div>

    </div>



    {#<a href="{{ path('fos_user_profile_show') }}" class="btn btn-default navbar-btn"> Perfil / Login</a>#}

</nav>


<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
</div>
    {% block javascripts %}{% endblock %}
</body>

</html>