{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menú Principal</h1>
    <table class="table text-center">
        <tr>
            <th class="active text-center">Nombre</th>
            <th class="active text-center">ID</th>
            <th class="active text-center">Descripción</th>
            <th class="active text-center">Usuario</th>
            <th class="active text-center">Preguntas</th>
            <th class="active text-center">Estado</th>
        </tr>

        {% for questionary in questionarys %}

            <tr>
                <td>
                    <a href="{{ path('questionary.show', {id: questionary.id}) }}">
                        {{ questionary.name}}
                    </a>
                </td>
                <td> {{ questionary.id}} </td>
                <td> {{ questionary.description}} </td>

                {% if questionary.User == app.user.username %}
                    <td><b><font color=#008000>{{ questionary.User }}</font></b></td>
                {% else %}
                    <td>{{ questionary.User }}</td>
                    {% endif %}

                {% set myVal = 0 %}
                {% for question in questionary.question %}
                    {% set myVal = myVal +1 %}
                {% endfor %}
                <td>{{ myVal }}</td>

                {% if questionary.state == '1' %}
                    <td><b><font color=#008000>Abierto</font></b></td>
                {% else %}
                   <td><b><font color=#FF0000>Cerrado</font></b></td></td>
                {% endif %}


            </tr>

        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(questionarys) }}
    </div>


{% endblock %}