{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menú Principal</h1>
    <table class="table text-center">
        <tr>
            <th class="active text-center">Nombre</th>
            <th class="active text-center">ID</th>
            <th class="active text-center">Descripción</th>
            <th class="active text-center">Usuario</th>
            <th class="active text-center">Preguntas</th>
        </tr>

        {% for questionary in questionarys %}

            {% if questionary.type == "público" %}

            <tr>
                <td>
                    <a href="{{ path('questionary.show', {id: questionary.id}) }}">
                        {{ questionary.name}}
                    </a>
                </td>
                <td> {{ questionary.id}} </td>
                <td> {{ questionary.description}} </td>
                <td>{{ questionary.user }}</td>

                {% set myVal = 0 %}
                {% for question in questionary.question %}
                    {% set myVal = myVal +1 %}
                {% endfor %}
                <td>{{ myVal }}</td>

            </tr>

            {% endif %}

        {% endfor %}
    </table>
{% endblock %}