
{% extends 'base.html.twig' %}

{% block body %}

    {% if hasControlAccess is defined and hasControlAccess %}
        {% include 'questionary/control_panel.html.twig' with {'questionary': questionary, 'deleteForm': deleteForm} %}
    {% endif %}


    <h1>Cuestionario</h1>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('notice2') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('notice3') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

<div class="media" style="margin-top: 60px;">
    <div class="media-body">
        <div class="row">
            <div class="col-sm-10">
                <h3 class="media-heading"><strong>Nombre:</strong>  {{ questionary.name}} </h3>
            </div>


            <div class="col-sm-10">
                <h3 class="media-heading"><strong>ID:</strong>  {{ questionary.id}} </h3>

                <h5 class="media-heading"><strong>Descripción: </strong> {{ questionary.description}}</h5>

                <h5 class="media-heading"><strong>Categoría: </strong>{{ questionary.category.name}}</h5>

                <h5 class="media-heading"><strong>Tipo: </strong>{{ questionary.type}}</h5>


            {% if questionary.state == '1' %}
                <h5 class="media-heading"><strong>Estado: </strong><b><font color=#008000>Abierto</font></b></h5>
            {% else %}
                <h5 class="media-heading"><strong>Estado: </strong><b><font color=#FF0000>Cerrado</font></b></h5>
            {% endif %}
            </div>
            <div class="col-sm-10">
                    {% set myVal = 0 %}
                    {% for questionary in questionary.question %}
                        {% set myVal = myVal +1 %}

                    {% endfor %}

                <h5 class="media-heading"><strong>Numero de preguntas: </strong>{{ myVal }}</h5>


            <div class="row">
            <div class="col-sm-10">
                {% if questionary.type == "público" %}

                    <a class="btn btn-success" href="{{ path('gamesession.play', {id: questionary.id}) }}"> Crear juego </a>

                {% endif %}

                 <a class="btn btn-success" href="{{ path('gamesession.enterkey', {id: questionary.id}) }}"> Unirse a un juego </a>
            </div>


                <div class="col-sm-10">
                {% if is_granted('QUESTIONARY_OWNER', questionary) %}

                    {% if questionary.type == "privado" %}
                        <a class="btn btn-success" href="{{ path('gamesession.play', {id: questionary.id}) }}"> Crear juego </a>
                    {% endif %}


                    {% if questionary.state == '1' %}
                        <a class="btn btn-danger" href="{{ path('questionary.close', {id: questionary.id}) }}"> Cerrar juego </a>
                    {% else %}
                        <a class="btn btn-info" href="{{ path('questionary.open', {id: questionary.id}) }}"> Abrir juego </a>
                    {% endif %}
                </div>

                <div class="col-sm-10">
                <a class="btn btn-primary" href="{{ path('questionary.edit', {id: questionary.id}) }}"> Editar </a>
                <a class="btn btn-primary" href="{{ path('question.create', {id: questionary.id}) }}"> Añadir question </a>
                <a class="btn btn-primary" href="{{ path('questionary.export', {id: questionary.id}) }}"> Exportar Cuestionario </a>
                <a class="btn btn-primary" href="{{ path('questionary.import', {id: questionary.id}) }}"> Importar Cuestionario </a>



            </div>
            </div>

                <h5 class="media-heading"><strong>Preguntas: </strong></h5>

                    {% set Val = 0 %}
                    {% for question in question %}
                        {% set Val = Val +1 %}

                            <h5 class="media-heading"><strong>Pregunta {{ Val }}: </strong> <a href="{{ path('question.show', {id: question.id}) }}">

                                    {{ question.title}} </a>

                            </h5>

                    {% endfor %}
        {% endif %}
            </div>
        </div>

                <div class="col-sm-10 text-right">
                <a class="btn btn-default" href="{{ path('questionary.list') }}">
                    <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
                    Volver al menú
                </a>
            </div>


</div>
{% endblock %}